<body>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>


<footer class="bg-dark text-light py-3">
  <div class="container">
    <div class="row justify-content-center">
      <!-- About Section -->
      <div class="col-lg-6 col-md-10 text-center mb-3 mb-md-0">
        <h5 class="mb-3 text-success">O nama</h5>
        <p class="lead">
          Mi smo kompanija koja se bavi dekorisanjem bašti. Naš tim stručnjaka vam pruža usluge uređenja i dizajna bašti, sa fokusom na stvaranje prelepih i funkcionalnih prostora na otvorenom.
          Bez obzira da li želite da transformišete svoj vrt, terasu ili dvorište, mi vam pružamo kreativna rešenja i vrhunsku izradu. Uz nas, vaša bašta će postati oaza mira i lepote.
        </p>
      </div>
      <!-- Contact Information Section -->
      <div class="col-lg-6 col-md-10 mt-3 text-center">
        <h5 class="text-success">Kontakt informacije</h5>
        <p class="mt-5">
          Telefon: <a href="tel:+123456789" class="text-light">+123 456 789</a><br>
          Email: <a href="mailto:info&#64;vashamashta.com" class="text-light">info&#64;vashamashta.com</a><br>
          Lokacija: Ulica cvetova 123, Beograd, Srbija
        </p>
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="mb-0 text-success">&copy; 2024 Vaša mašta - vaša bašta</p>
    </div>
  </div>
</footer>






